#bar-graph{
    position: absolute;
    background-color:lightgray;
    top: 20%;
    left: 42%;

}
#bar-graph article{
    display: inline-block;
}
p{
    
    padding-left: 20px;
}
.graph{
    background-color:darkgrey;
    height: 300px;
    width: 40px;
    margin: 20px;

}
h1{
    text-align: center;
}
#bar-1,#bar-2,#bar-3{
    width: 100%;
    background-color:ivory;
    animation-duration: 2s;
    animation-iteration-count: 1;

}
#bar-1{
    animation-name: barplot1;
    height: 70%;
}
#bar-2{
    animation-name: barplot2;
    height: 60%;
}
#bar-3{
    animation-name: barplot3;
   height: 20%;
}
@keyframes barplot1 {
    0%{height: 100%;background-color: white;}
    100%{height: 70%;background-color: white;}
    
}
@keyframes barplot2 {
    0%{height: 100%;background-color: white;}
    100%{height: 50%;background-color: white;}
    
}
@keyframes barplot3 {
    0%{height: 100%;background-color: white;}
    100%{height: 20%;background-color: white;}
    
}